

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #FFFFFF;
  --primary-color:                #3db9cf;
  --secondary-color:              #ec6a2c;
  --section-bg-color:             #F9F9F9;
  --dark-color:                   #000000;
  --title-color:                  #565758;
  --p-color:                      #717275;
  --border-color:                 #eaeaea;

  /* --body-font-family:             'Open Sans', sans-serif; */
  --body-font-family:             'Poppins', sans-serif;

  --h1-font-size:                 48px;
  --h2-font-size:                 36px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  18px;
  --menu-font-size:               22px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family);    
    position: relative;
    padding-top: 94px;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/
html, body {
  overflow-x: hidden;
  }

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

h1,
h2 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.5px;
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  /* color: var(--p-color); */
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.section-padding {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.p-justify {
    text-align: justify !important;
}

/*---------------------------------------
  CUSTOM LINK               
-----------------------------------------*/
.custom-link {
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  pointer-events: auto;
  font-weight: var(--font-weight-semibold);
  line-height: 40px;
  position: relative;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  border-radius: 0;
  text-transform: uppercase;
}

.custom-link::before {
  content: attr(data-hover);
  background-color: var(--border-color);
  color: var(--primary-color);
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
  right: 0;
  text-align: center;
}

.custom-link:hover::before {
  top: 0;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  LIST GROUP               
-----------------------------------------*/
.list-group-item {
  background-color: transparent;
  color: var(--p-color);
  font-size: var(--p-font-size);
  padding: 1rem 0;
}

.list-group-item:first-child {
  padding-top: 0;
}

.list-group-item span {
  font-weight: var(--font-weight-semibold);
  margin-left: auto;
}

/*---------------------------------------
  ANIMATED TEXT              
-----------------------------------------*/
.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  min-width: 250px;
  position: relative;
}

.animated-item {
  color: var(--primary-color);
}

.animated-item {
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*---------------------------------------
  HERO              
-----------------------------------------*/
.hero {  
  padding-top: 0rem;
}

.hero .container {
  position: relative;
  overflow: hidden;
  height: 580px;
}

.heroText {
  background: var(--white-color);
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  padding: 1.5rem 2.5rem;
  width: 50%;
}

.contact-phone {
  font-weight: var(--font-weight-semibold);
}

/*---------------------------------------
  FEATURED              
-----------------------------------------*/
.featured-circle {
  border-radius: 100%;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 0 20px;
}

.featured-circle2 {
  border-radius: 25%;
  width: 338px;
  height: 350px;
  margin: 0 auto;
  padding: 0 20px;
}

.featured-circle3 {
  border-radius: 100px 5px 5px 100px;
  width: 338px;
  height: 350px;
  margin: 0 auto;
  padding: 0 20px;
}

.featured-circle4 {
  border-radius: 5px 100px 100px 5px;
  width: 338px;
  height: 350px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 600px) {
  .featured-circle3 {
    border-radius: 25%;
    width: auto;
    height: 280px;
    margin: 0 0 20px 0;
    padding: 0 20px;
  }

  .featured-circle4 {
    border-radius: 25%;
    width: auto;
    height: 280px;
    margin: 0 0 20px 0;
    padding: 0 20px;
  }
}

.featured-text {
  font-size: var(--h6-font-size);
  line-height: 2rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-bottom: 0;
}

.featured-number {
  color: var(--primary-color);
  font-size: 8rem;
  margin: 0 10px;
}
.featured-number2 {
  color: var(--primary-color);
  font-size: 5rem;
  margin: 0 10px;
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
  background-color: #FFFFFF;
}

.navbar-brand {
  color: var(--primary-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
  margin: 0 30px;
  padding: 0;
  text-align: center;
}

.navbar-brand strong {
  color: var(--p-color);
  font-size: 12px;
  position: relative;
  bottom: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-expand-lg .navbar-nav .nav-link2 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-nav .nav-link {
  color: #3db9cf;
  font-weight: var(--font-weight-semibold);
  /* font-size: var(--menu-font-size); */
  font-size: 19px;
  /* padding-top: 15px;
  padding-bottom: 15px; */
}

.navbar-nav .nav-link2 {
  color: #3db9cf;
  font-weight: var(--font-weight-semibold);
  font-size: 19px;
  /* padding-top: 15px;
  padding-bottom: 15px; */
}

.navbar-nav .nav-item.active .nav-link, 
.nav-link:focus, 
.nav-link:hover {
  /* color: var(--dark-color); */
  color:#3db9cf;
}

.navbar-nav .nav-item.active .nav-link2, 
.nav-link2:focus, 
.nav-link2:hover {
  /* color: var(--dark-color); */
  color:#3db9cf;
}

.nav-link:focus {
  color: var(--p-color);
}

.nav-link2:focus {
  color: var(--p-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon:after {
  top: 8px;
}


.searchbar{
  position: relative;
  text-align: center;
  color: white;
}

.insearchbar{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .insearchbar{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.box1{
  position: relative;
  text-align: center;
}
.box1btn{
  font-size: 21px;
  padding: 4px 25px;
}

.box-top-left {
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 45px;
}
.box-bottom-right {
  position: absolute;
  bottom: 15%;
  right: 20%;
}
.box-bottom-left {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.disboxmob{
  display: none;
}

@media (max-width: 600px) {
  .box1{
    position: relative;
    text-align: center;
  }
  .box1btn{
    font-size: 21px;
    padding: 5px 25px;
  }
  
  .box-top-left {
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 22px;
  }
  .box-bottom-right {
    position: absolute;
    bottom: 20%;
    right: 8%;
  }
  .box-bottom-left {
    position: absolute;
    bottom: 20%;
    left: 15%;
  }

  .disboxdesk{
    display: none;
  }
  .disboxmob{
    display: block;
  }
}
.mece{
  color: #3db9cf;
}
.mecebg{
  background-color: #3db9cf;
}

.ceme{
  color: #ec6a2c;
}
.cemebg{
  background-color: #ec6a2c;
}

.dclr{
  color: #027992;
}


.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
}

.video-container2 {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container2::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container3 {
  overflow: hidden;
  position: relative;
  width:100%;
  margin: 10px 0;
}

.video-container3::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container3 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobslide{
  display: none;
}

.boxyut{
  margin-top: -130px;
}

.mobilenav{
  display: none;
}

@media (max-width: 600px) {

  .mobilenav{
    display: block;
  }
  .desknav{
    display: none;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .deskslide{
    display: none;
  }
  .mobslide{
    display: block;
  }
  .boxyut{
    margin-top: 20px;
  }

  .wlctextmb{
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 5.56vw;
    color: #fff;
    margin-top: 50px;
  }
  .wppltextmb{
    font-size: 10.39vw;
    font-weight: 800;
    font-family: Lato, sans-serif;
    color: #fff;
  }
  .paratextmb{
    font-size: 4.59vw;
    font-weight: 800;
    font-family: Lato, sans-serif;
    line-height: 1.3;
    color: #fff;
    padding-bottom: 25px;
  }

  .textonslidemb{
    position: relative;
    text-align: center;
  }
  .textoncentermb{
    position: absolute;
    top: 25%;
    left: 31%;
    right:19%;
    transform: translate(-50%, -50%);
  }
  
  
}
.wlctext{
  font-family: Lato, sans-serif;
  font-size: 37px;
  font-weight: 900;
  color: #fff;
}
.wppltext{
  font-size: 98px;
  font-weight: 900;
  font-family: Lato, sans-serif;
  color: #fff;
}
.paratext{
  font-size: 27px;
  font-family: Lato, sans-serif;
  line-height: 1.3;
  color: #fff;
  font-weight: bold;
  padding-bottom: 60px;
}

.textonslide{
  position: relative;
  text-align: center;
}
.textoncenter{
  position: absolute;
  top: 50%;
  left: 33%;
  right:19%;
  transform: translate(-50%, -50%);
}


.nav .nav-item .nav-link{
  color: #3db9cf;
  font-weight: 600;
}

.nav .nav-item .nav-link2{
  color: #3db9cf;
  font-weight: 600;
}

.serch{
  width: 621px !important;
  padding: 15px ;
  border: 5px solid #80ddec;
}
.serchbtn{
  border: 5px solid #80ddec;
  padding: 15px 20px;
}

@media (max-width: 600px) {
  .serch{
    width: 112% !important;
    padding: 5px;
  }
  .serchbtn{
    padding: 5px 9px;
  }
}

.slide2{
  position: relative;
  text-align: center;
  color: white;
}

.slidecenter{
  position: absolute;
  top: 26%;
  left: 48%;
  right: 11%;
  transform: translate(-50%, -50%);
}

.slide2small{
  display: none;
}
.slibtn{
  color: #3db9cf;
  border: 1px solid #3db9cf;
}
.slibtn:hover{
  background-color: #3db9cf;
  color: #FFFFFF;
}

@media (max-width: 600px) {
  .slide2{
    display: none;
  }
  .slide2small{
    display: block;
  }
  .slide2small{
    position: relative;
    text-align: center;
    color: white;
  }
  
  .slidecenter{
    position: absolute;
    top: 39%;
    left: 16%;
    right: 0%;
    transform: translate(-8%, -51%);
  }
  .slibtn{
    color: #3db9cf;
    border: 1px solid #3db9cf;
    font-size: 12px;
  }
  .slibtn:hover{
    background-color: #3db9cf;
    color: #FFFFFF;
  }
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: -1px;
}

.deskimg{
  border-radius: 25px;
  /* margin: 8px auto; */
  /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .leftalign{
  float: left;
} */

.sebtn{
  font-weight: 600;
  background-color: #ffffff;
  color: #ec6a2c;
}

.sersec{
  border-radius: 50px;
}
.sebtn:hover{
  color: #ffffff;
  background-color: #ec6a2c;
}

.imgbtn {
  position: relative;
  text-align: center;
  color: white;
}

.btncentered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#headerPopup{
  width:100%;
  /* margin:0 auto; */
}

#headerPopup iframe{
  width:100%;
  height: 60vh;
  /* margin:0 auto; */
}

/*---------------------------------------
  TIMELINE               
-----------------------------------------*/
.timeline,
.timeline-nodes {
  position: relative;
}

.timeline-nodes:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline h3, 
.timeline p {
  padding: 10px 30px;
} 

/* .timeline h3 {
  background: var(--dark-color);
} */

.timeline::before {
  content: "";
  display: block;
  position: absolute;
  top: 37px;
  left: 50%;
  width: 0;
  border-left: 1px solid var(--border-color);
  height: 85%;
  z-index: 1;
  transform: translateX(-50%);
}

.timeline-content {
  position: relative;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 0;
}

.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
  text-align: right;
}

.timeline-nodes:nth-child(odd) .timeline-date {
  text-align: left;
}
 
.timeline-nodes:nth-child(even) .timeline-date {
  text-align: right;
}

.timeline-nodes:nth-child(odd) h3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  width: 0;
  border-left: 10px solid #ec6a2c;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-nodes h3 {
  position: relative;
  border-radius: 0.25rem 0.25rem 0 0;
}

.timeline-nodes:nth-child(even) h3::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(0, -50%);
  width: 0;
  border-right: 10px solid #ec6a2c;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-icons {
  position: relative;
  z-index: 100;
}

.timeline-icons::before {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  z-index: 1;
}

.timeline-icon {
  position: relative;
  z-index: 100;
  font-size: var(--h3-font-size);
  /* color: var(--primary-color); */
  color: #3db9cf;
  display: block;
  text-align: center;
  line-height: 80px;
}

@media (max-width: 767px) {
  .timeline-nodes:nth-child(odd) h3,
  .timeline-nodes:nth-child(odd) p {
    text-align: left;
  }

  .timeline-nodes:nth-child(even) {
    flex-direction: row;
  }

  .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 60px;
    left: 33px;
    width: 0;
    height: 90%;
    z-index: 1;
    transform: translateX(-50%);
  }

  .timeline-icons {
    position: absolute;
    left: 0%;
    top: 60px;
  }

  .timeline-nodes:nth-child(odd) h3::after {
    left: auto;
    right: 100%;
    border-left: 0;
    border-right: 10px solid var(--dark-color);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .timeline-nodes:nth-child(even) h3::after {
    right: 100%;
    width: 0;
    border-right: 10px solid var(--dark-color);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
  }

  .timeline-icons::before {
    width: 75px;
    height: 75px;
  }

  .timeline-icon {
    line-height: 75px;
  }
}

@media (max-width: 575px) {
  .timeline::before {
    content: "";
    display: block;
    top: 60px;
    left: 57px;
    height: 87%;
  }

  .timeline-icons {
    position: absolute;
    left: -10px;
  }

  .timeline-icons::before {
    width: 70px;
    height: 70px;
  }

  .timeline-icon {
    line-height: 70px;
  }
}

/*---------------------------------------
  REVIEWS               
-----------------------------------------*/
.reviews-thumb {
  margin-bottom: 0;
  padding: 32px;
}

.reviews-text {
  margin-top: 10px;
  margin-bottom: 25px;
}

.reviews-image {
  border-radius: 100px;
  width: 70px !important;
  height: 70px !important;
}

.reviews-carousel .owl-item {
  opacity: 0.45;
}

.reviews-carousel .owl-item.active.center {
  opacity: 1;
}

/* .reviews-carousel .owl-item.active.center .reviews-thumb {
  background: var(--dark-color);
} */

.reviews-carousel .owl-item.active.center .reviews-thumb,
.reviews-carousel .owl-item.active.center .reviews-text {
  /* color: var(--white-color); */
  color: #000000;
}

.reviews-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews-carousel .owl-nav span {
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
}

.reviews-carousel .owl-nav .owl-prev {
  position: relative;
  left: -80px;
}

.reviews-carousel .owl-nav .owl-next {
  position: relative;
  right: -80px;
}

.reviews-carousel .owl-prev span,
.reviews-carousel .owl-next span {
  color: transparent;
}

.reviews-carousel .owl-prev span::before,
.reviews-carousel .owl-next span::before {
  font-family: bootstrap-icons;
  display: block;
  font-size: var(--h3-font-size);
  /* color: var(--p-color); */
  width: 35px;
  height: 35px;
}

.reviews-carousel .owl-prev span::before {
  content: "\f12f";
}

.reviews-carousel .owl-next span::before {
  content: "\f138";
}

/*---------------------------------------
  BOOKING FORM            
-----------------------------------------*/

.booking-form .form-control {
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid var(--border-color);
  color: #6c757d;
  font-weight: var(--font-weight-normal);
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 15px;
  transition: all 0.3s;
}

.booking-form #submit-button {
  background: var(--dark-color);
  border-bottom: 0;
  font-weight: var(--font-weight-semibold);
  color: var(--white-color);
  text-transform: uppercase;
  margin-top: 35px;
}

.booking-form #submit-button:hover {
  /* background: var(--primary-color); */
  background: #3db9cf;
}

/*---------------------------------------
  FOOTER              
-----------------------------------------*/
.site-footer {
  background: var(--section-bg-color);
}

.copyright-text {
  font-size: var(--menu-font-size);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s;
}

.social-icon:hover li:not(:hover) {
  opacity: 0.65;
}

.social-icon-link {
  font-size: var(--p-font-size);
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1600px) {
  .hero .container {
    height: 740px;
  }
}

@media screen and (max-width: 991px) {
  body {
    padding-top: 74px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-nav .nav-link {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .navbar-nav .nav-link2 {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .hero .container {
    height: inherit;
  }

  .heroText {
    position: relative;
    bottom: 100px;
    left: 0;
    width: auto;
    margin-bottom: -100px;
    padding: 2rem;
  }

  .featured-circle {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 767px) {
  .heroText {
    padding: 1.5rem;
  }

  .animated-info {
    min-width: 125px;
  }

  .featured-circle {
    margin-top: 20px;
  }

  .reviews-carousel .owl-nav {
    position: relative;
    width: auto !important;
    transform: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 100px;
    margin: 20px auto;
  }

  .reviews-carousel .owl-nav .owl-prev,
  .reviews-carousel .owl-nav .owl-next {
    right: 0;
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .heroText {
    padding: 1rem;
  }

  .heroLinks .custom-link {
    font-size: 12px;
    line-height: 30px;
    margin-right: 12px !important;
    padding: 0 25px;
  }

  .contact-phone {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  .featured-number {
    font-size: 5rem;
  }

  .featured-circle {
    width: 235px;
    height: 235px;
  }

  .reviews-image {
    width: 55px !important;
    height: 55px !important;
  }

  .reviews-thumb figcaption {
    font-size: var(--menu-font-size);
  }

  .timeline::before {
    left: 42px;
  }
}

.slibtnhm{
  color: #ec6a2c;
  border: 1px solid #ec6a2c;
}
.slibtnhm:hover{
  background-color: #ec6a2c;
  border: 1px solid #ec6a2c;
  color: #FFFFFF;
}


/* ---------------------
diclowin css
--------------------- */

#hero2 {
  width: 100%;
  height: 80vh;
  /* background: #3db9cf; */
  /* background-image: url("../images/gallery/bg_img_3.jpg"); */
  /* background-repeat: no-repeat; */
  background-image: linear-gradient(140deg, #cce0e4 0%, #3db9cf 50%, #e4a487 75%);
}
#hero2 .container {
  padding-top: 72px;
}
#hero2 h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero2 h2 {
  color: #ffffff99;
  margin-bottom: 50px;
  font-size: 24px;
}
#hero2 .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #ec6a2c;
}
#hero2 .btn-get-started:hover {
  background: #e6520e;
  font-size: 17px;
}
#hero2 .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}
#hero2 .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}
#hero2 .btn-watch-video:hover i {
  color: #47b2e4;
}
#hero2 .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero2 .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}
#hero2 .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}
#hero2 .btn-watch-video:hover i {
  color: #47b2e4;
}

@media (max-width: 991px) {
  #hero2 {
    height: 100vh;
    text-align: center;
  }
  #hero2 .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero2 .hero2-img {
    text-align: center;
  }
  #hero2 .hero2-img img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #hero2 h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero2 h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero2 .hero2-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  #hero2 .hero2-img img {
    width: 80%;
  }
  #hero2 .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

.bgimage{
  /* background-image: url("../images/diclowin/bg_img_3.jpg"); */
  opacity: 0.9;
}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 500;
  font-size: 24px;
  color: #58716d;
  font-family: "Poppins", sans-serif;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-bottom: 10px;
}
.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #1bbca3;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .progress {
  height: 50px;
  display: block;
  background: none;
}
.about .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #58716d;
}
.about .progress .skill .val {
  float: right;
  font-style: normal;
}
.about .progress-bar-wrap {
  background: #e6eceb;
}
.about .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #1bbca3;
}


/*--------------------------------------------------------------
# Our Services
--------------------------------------------------------------*/
.services2 .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
.services2 .icon-box::before {
  content: "";
  position: absolute;
  background: #aff4e9;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}
.services2 .icon-box:hover::before {
  /* background: #1bbca3; */
  background: #3db9cf;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.services2 .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #1bbca3;
  transition: all 0.3s ease-in-out;
}
.services2 .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}
.services2 .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services2 .title a {
  color: #ec6a2c;
  font-size: 50px;
}
.services2 .h5heel {
  color: #ec6a2c;
  font-size: 30px;
}

.services2 .description {
  font-size: 18px;
  color: #3db9cf;
  line-height: 28px;
  margin-bottom: 0;
}
.services2 .icon-box:hover .title a, .services2 .icon-box:hover .description, .services2 .icon-box:hover .h5heel {
  color: #fff;
}
.services2 .icon-box:hover .icon {
  background: #fff;
}
.services2 .icon-box:hover .icon i {
  color: #1bbca3;
}



/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 40px 0;
}
.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: transparent;
  position: relative;
  overflow: hidden;
}
.team .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.team .member .member-info-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: bottom 0.4s;
}
.team .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: -30px;
  font-size: 18px;
  color: #fff;
}
.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}
/* .team .member .social {
  position: absolute;
  left: 0;
  bottom: -38px;
  right: 0;
  height: 48px;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
}
.team .member .social a {
  transition: color 0.3s;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
}
.team .member .social a:hover {
  color: #1bbca3;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
} */
.team .member:hover .member-info {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%); */
  background: linear-gradient(0deg, #531f05ea 0%, #7a3715a4 30%, rgba(0, 212, 255, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}
.team .member:hover .member-info-content {
  bottom: 60px;
  transition: bottom 0.4s;
}
.team .member:hover .social {
  bottom: 0;
  transition: bottom ease-in-out 0.4s;
}

.video-container2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}
.services .icon-box .icon {
  margin-bottom: 10px;
}
.services .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}
.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}
.services .icon-box h4 a {
  color: #ec6a2c;
  font-size: 50px;
  font-weight: 600;
  transition: ease-in-out 0.3s;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #3db9cf;
  margin-bottom: 0;
}
.services .icon-box:hover {
  transform: translateY(-10px);
}
.services .icon-box:hover h4 a {
  color: #47b2e4;
}

.section-bg {
  background-color: #ffffff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  /* color: #37517e; */
}

.hel:hover {
  color: #e6520e;
}
.hel2:hover {
  color: #3db9cf;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #ec6a2c;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}

.slibtnser{
  color: #3db9cf;
  border: 1px solid #3db9cf;
  font-weight: 600;
}
.slibtnser:hover{
  background-color: #3db9cf;
  border: 1px solid #3db9cf;
  color: #FFFFFF;
}

.mobfooter{
  display: none;
}

.hairprd{
  width: 65%;
}
.heelbanner{
  height: 70vh;
}

.kufprd{
  width: 65%;
}

@media (max-width: 600px) {
  .deskfooter{
    display: none;
  }
  .mobfooter{
    display: block;
  }

  .nav .nav-item .nav-link{
    color: #3db9cf;
    font-weight: 600;
    font-size: 9px;
  }

  .hairprd{
    width: 100%;
  }
  .heelbanner{
    height: auto;
  }
  .kufprd{
    width: 100%;
  }
}

.winbanner{
  background-image: linear-gradient(140deg, #86dceb 0%, #3db9cf 50%, #ec6a2c 75%);
}

.youtube-player iframe {
  display: none;
}

.youtube-player.active iframe {
  display: block;
}

.disbox{
  border-radius: 20px;
  border: 1px solid black;
}

.services3 .icon-box {
  padding: 20px 20px 10px 20px;
  position: relative;
  overflow: hidden;
  background: transparent;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 55px 5px;
  z-index: 1;
}
.services3 .icon-box::before {
  content: "";
  position: absolute;
  background: #aff4e9;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}
.services3 .icon-box:hover::before {
  /* background: #1bbca3; */
  background: #3db9cf;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.services3 .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #1bbca3;
  transition: all 0.3s ease-in-out;
}
.services3 .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}
.services3 .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services3 .title a {
  color: #ec6a2c;
  font-size: 50px;
}
.services3 img {
  width: 90px;
}

.services3 .description {
  font-size: 16px;
  color: #ffffff;
  line-height: 28px;
  margin-bottom: 0;
}
.services3 .icon-box:hover .title a, .services3 .icon-box:hover .description {
  color: #fff;
}
.services3 .icon-box:hover .icon {
  background: #fff;
}
.services3 .icon-box:hover .icon i {
  color: #1bbca3;
}

.udaanimg{
  opacity: 0.5;
}

.distrib{
  /* padding-top: 0px; */
  background-color: rgb(28 59 37 / 67%);
  color: #fff;
}

.careermob{
  display: none;
}

@media (max-width: 600px) {
  .distrib{
    padding-top: 10px;
  }
  
  .careerdesk{
    display: none;
  }
  .careermob{
    display: block;
  }
  
}

.careerbann{
  background-image: url("../images/gallery/lifeatwings.jpg");
}

.nav-pills2 .nav-link.active, .nav-pills .show>.nav-link {
  color: #3db9cf;
  background-color: #fff;
}

.trainingimg{
  background-image: url("../images/gallery/training2.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  background-size: cover;
  /* opacity: 0.8; */
}

.applyformimg{
  background-image: url("../images/gallery/joinus.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  background-size: cover;
}

.prdlogo{
  -webkit-box-shadow: -5px 3px 44px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 3px 44px 0px rgba(0,0,0,0.75);
box-shadow: -5px 3px 44px 0px rgba(0,0,0,0.50);
}

.shopmail{
  position: relative;
  text-align: center;
  color: white;
}

.btncent{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .btncent{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .smbtm{
    margin-top: 5px;
    padding: 4px 16px !important;
    font-size: 14px !important;
  }
}

.nav-pills2 .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #ec6a2c;
}

.services4 .icon-box {
  padding: 10px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 41px 14px rgba(0,0,0,0.31);
  /* box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12); */
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
.services4 .icon-box::before {
  content: "";
  position: absolute;
  /* background: #aff4e9; */
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}
.services4 .icon-box:hover::before {
  background: #3db9cf;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.services4 .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #1bbca3;
  transition: all 0.3s ease-in-out;
}
/* .services4 .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
} */
.services4 .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services4 a {
  color: #ec6a2c;
  font-size: 25px;
}
/* .services4 .description {
  font-size: 18px;
  color: #3db9cf;
  line-height: 28px;
  margin-bottom: 0;
} */
.services4 .icon-box:hover a, .services4 .icon-box:hover .description {
  color: #fff;
}
/* .services4 .icon-box:hover .icon {
  background: #fff;
}
.services4 .icon-box:hover .icon i {
  color: #1bbca3;
} */

.waale{
  border-radius: 10px 50px;
}

.introbrand{
  box-shadow: 0px 0px 41px 14px rgba(0,0,0,0.31);
}

/* .mtpic{
  margin-top:-150px;
}

@media (max-width: 600px) {
  .mtpic{
    margin-top:0px;
  }
} */
.hlpg{
  border-radius: 45px;
  background-color: #f0f0f0;
}

.introbtm{
  background-color: #e0efef;
  border-radius: 45px;
}

.introbtm:hover{
  box-shadow: 0px 0px 47px -8px rgba(0,0,0,0.39);
}

.introicons{
  border-radius: 15px;
  background-color: #fff;
  box-shadow: -25px 25px 0px 1px rgba(0,120,144,1);
}

.vsmain{
    overflow: hidden;
}






/* Menu portfolio*/
.portfolio-menu {
  margin: 0.5em;
  list-style: none;
  display: block;
  text-align: center;
}

.portfolio-menu li {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 4px 2px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.25rem;
}

.portfolio-menu li:hover,
.portfolio-menu li.current {
  color: #fff;
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

/* portfolio items*/
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.portfolio-item .card {
  padding: 0.2em;
  border: none;
}

/* .portfolio-item .card.active {
  transition: all 0.5s ease;
} */

.portfolio-item .card.delete {
  width: 0%;
  padding: 0;
  /* transition: all 0.5s ease; */
}

.card img {
  width: 100%;
  height: 100%;
}

/* Media screen */
@media screen and (min-width: 768px) {
  .portfolio-item .card.active,
  .portfolio-item .card {
    width: 33.33%;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio-item .card.active,
  .portfolio-item .card {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-item .card.active,
  .portfolio-item .card {
    width: 50%;
  }
}


.main-search-modal .modal-content{
  border-radius: 0rem 0rem 1.3rem 1.3rem;
  background-color: #f4f4f4;
}

.search-modal{
  padding: 0;
}

.search-modal form{
  margin-top: -23px;
  margin-bottom: 0;
}

.search-modal form input{
  padding: 12px 18px;
  border-radius: 50rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.search-body .serit{
  color: #273043;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .12);
  padding: 4px 12px;
  text-align: center;
}

.search-body .serit:hover{
  background-color: transparent;
}

.search-body span{
  margin: 5px;
}

.search-body{
  padding: 18px;
}

#search-body{
  display: none;
}

#search-body .list-group-item{
  font-size: 15px;
}

#otc-img{
  display: block;
}

.ser-p{
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .ser-p{
    font-size: 10px;
  }
}

